# 使用压缩的 Electron 版本，减小应用体积
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir="{{ version }}"
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/
